<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2026 DDTCoreX
 * SPDX-License-Identifier: MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="DDTCoreX\DagsterBridge\Api\CapabilitiesInterface"
                type="DDTCoreX\DagsterBridge\Model\Capabilities"/>
    <preference for="DDTCoreX\DagsterBridge\Api\Data\CapabilitiesResultInterface"
                type="DDTCoreX\DagsterBridge\Model\Data\CapabilitiesResult"/>
</config>
